@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Shrikhand&display=swap");
/* HEADER*/
.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}
@media (min-width: 992px) {
  .menus {
    align-items: unset;
    position: unset;
    display: flex;
  }
}
.menus-cards img{
  border-radius: unset;
  width: 100%;
  object-fit: cover;
  
}
@media (min-width: 778px) {
  .menus img {
    width: 20%;
    border-radius: unset;
    align-items: unset;
    position: unset;
  }
}

.fa-arrow-left {
  font-size: larger;
  color: black;
  position: absolute;
  top: 30px;
  left:30px
}
/*@media (min-width: 992px) {
  .fa-arrow-left {
    position: absolute;
    left: 350px;
    padding-top: 15px;
    align-items: center;
}*/
/* MENU */

.menus-cards {
  display: flex;
  flex-direction: Column;
  padding-top: 0;
  width: 100%;
  background-color: white;
}
.menus-cards img {
  height: 300px;
  border-radius: unset;
  background-color: unset;
  width: 100%;
}

.menus-cards h2 {
  font-weight: unset;
}
.menus-cards h2 header {
  padding: 0;
  background-color: unset;
}

.menus-cards article {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  border-radius: 40px 40px 0 0;
  position: relative;
  padding: 20px;
  background-color: var(--darker-grey);
}
.menus-cards header{
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  background-color: unset;
  font-family: shrikhand, cursive;
  box-shadow: unset;
}


/****RESTAURANT ******/
.restaurants .card__info__heart{
  position: absolute;
  font-size: 2em;
  border: unset;
  right: 50px;
 /* padding-top: 2px;*/
  cursor: pointer;
}
.restaurants h3{
  font-weight:500;
}

.restaurants .card__info__heart::before{
  content:"";
  font-family:"Font Awesome 5 Free";
  position:absolute;
  transition:all .8s ease-in-out
}

.restaurants .card__info__heart::after{
  content:"";
  font-family:"Font Awesome 5 Free";
  position:absolute;transition:all .8s ease-in-out;
  background:linear-gradient(to bottom, #9356DC,#FF79DA 80%);
  background-clip:text;
  /*-webkit-background-clip:text;
  /*-webkit-text-fill-color:transparent;*/
  opacity:0;
  cursor:pointer
}
/*.restaurants .card__info__heart:hover::before{color:rgba(250, 250, 250, 0)}*/

.restaurants .card__info__heart:hover::after{
  color:transparent;
  font-weight:900;
  opacity:1;
}

.main_menu{
  display: flex;
}
.main_menu .card__info__heart{
  position: absolute;
  font-size: 1.5em;
  border: unset;
  right: 100px;
  top: 42px;
 align-items: center;
  cursor: pointer;
}
@media (max-width: 386px) {
  .main_menu .card__info__heart {
right:25px
  }
}
@media (min-width: 1432px) {
  .main_menu .card__info__heart {
    position: absolute;
  font-size: 1.5em;
  border: unset;
  right: 450px;
  top: 70px;
 align-items: center;
  cursor: pointer
  }
}
@media (min-width: 992px) {
  .main_menu .card__info__heart {
    position: absolute;
  font-size: 1.5em;
  border: unset;
  top: 70px;
 align-items: center;
  cursor: pointer
  }
}
.main_menu h1{
  font-weight:500;
  /*text-align: center;*/
  font-family: shrikhand;
  font-style: italic;
}
@media (min-width: 450px) {
  .main_menu h1{
    font-weight:500;
    text-align: center;
    font-family: shrikhand;
    font-style: italic;
  }
}
.main_menu_title{
  gap:20px;
}
.main_menu .card__info__heart::before{
  content:"";
  font-family:"Font Awesome 5 Free";
  position:absolute;
  transition:all .8s ease-in-out}

.main_menu .card__info__heart::after{
  content:"";
  font-family:"Font Awesome 5 Free";
  position:absolute;transition:all .8s ease-in-out;
  background:linear-gradient(to bottom, #9356DC,#FF79DA 80%);
  background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;opacity:0;cursor:pointer
}
.main_menu .card__info__heart:hover::before{color:rgba(250, 250, 250, 0)}

.main_menu .card__info__heart:hover::after{color:transparent;font-weight:900;opacity:1}




.menus-cards h1 {
  font-size: 27px;
}

.menus-cards article section {
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*,UNDERLINE*/
.underline {
  width: 40px;
  height: 0.20em;
  background-color: var(--light-green);
  margin: 0;
  margin-left: 0px;
  padding: 0;
  margin-left: 1px;
}
 /* MENU */
.menus-cards article section h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: medium;
}

.menus-cards article section ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: unset;
  margin: 0px;
}
.menus-cards article section ul .menus-cards .order-card1 li,
.menus-cards article section ul .menus-cards .order-card2 li,
.menus-cards article section ul .menus-cards .order-card3 li {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 2px 2px 2px var(--light-grey);
  line-height: normal;
  border-radius: 20px 20px;
  height: fit-content;
}

.fa-circle-check {
  color: var(--white);
  font-size: xx-large;
  text-align: center;
  border-radius: 0 20px 20px 0;
}
li:hover .fa-circle-check,
li:focus .fa-circle-check {
  transform: rotate(0);
}

li .fleche {
  display: flex;
  background-color: var(--light-green);
  margin: -2rem -6rem -2rem 2rem;
  width: 100px;
  align-items: center;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  transition-duration: 0.5s;
  margin-right: -125px;
}

li:hover .fleche,
li:focus .fleche {
  margin-right: -1.5rem;
}

.menus-cards .order-card1 li,
.menus-cards .order-card2 li,
.menus-cards .order-card3 li {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 2px 2px 2px var(--light-grey);
  padding: 20px;
  line-height: normal;
  border-radius: 20px 20px;
  height: fit-content;
  margin-bottom: unset;
}

.menus-cards .menus-btn {
  align-self: center;
  border-radius: 30px;
  border: unset;
  height: 50px;
  color: var(--white);
  width: 30%;
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
  box-shadow: 8px 8px 2px var(--darker-grey);
  font-weight: bolder;
}
.menus-cards .menus-btn:hover {
  transform:scale(1.02);
  /* une blancheur sur le boutton quand ont passe dessus*/
  opacity:0.9
}

footer li > a {
  font-weight: bolder;
  color: var(--white);
}

.order-card1 li {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: fade 3000ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
  max-width: 100%;
}

.order-card1 li section {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li section h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li section p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li b {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 2rem;
  /*margin-top: 10px;*/
  top:5px;
}

.order-card2 li {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: fade 3000ms;
    animation-delay: 1000ms;
    animation-fill-mode: both;
  max-width: 100%;
}

.order-card2 li section {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card2 li section h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card2 li section p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card2 li b {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 2rem;
  margin-top: 20px;
}

.order-card3 li {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: fade 3000ms;
    animation-delay: 2000ms;
    animation-fill-mode: both;
  max-width: 100%;
}
@keyframes fade {
  0% {
      opacity: 0;
  }

  23.333% {
      opacity: 50%;
  }

  33.333% {
      opacity: 100%;

  }
}
.order-card3 li section {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card3 li section h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card3 li section p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card3 li b {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 2rem;
  margin-top: 20px;
}


@media (min-width: 992px) {
  .menus-cards article header {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  article header .fas.fa-heart,
  article header .far.fa-heart {
    right: 120px;
  }
}
@media (min-width: 992px) {
  .menus-cards article {
    margin-left: 120px;
    margin-right: 120px;
    padding: 50px 100px;
  }
}


/* Page D'accueil */

.loader {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 2s forwards;
}
  @keyframes loader {
      40% {
          opacity: 100%;
      }

      100% {
          opacity: 0%;
          pointer-events: none;
      }
  }

  .loader .cercle {
      position: absolute;
      width: 150px;
      height: 150px;
      background: #EDEDED;
      border: 3px solid #FF79DA;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  }

  /*.loader .ring:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      border-top: 3px solid #161010;
      border-right: 3px solid #161010;
      border-radius: 50%;
      animation: rotateC 2s linear infinite;
  }*/

  .loader .balle {
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
      width: 50%;
      height: 4px;
      transform-origin: left;
      animation: rotate 1s linear infinite;
  }

  .loader .balle:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 70%;
      background: #9356DC;
      top: -6px;
      right: -6px;
 }

  @keyframes rotate {
      0% {
          transform: rotate(45deg);
      }

      100% {
          transform: rotate(405deg);
      }
  }
 .loader .p{
  text-align: center;
  font-size: 1rem;
  font-family: shrikhand, cursive;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 100%;
 } 

h1 {
  font-size: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  box-shadow: 0 15px 15px var(--grey);
}
.logo img {
  border-radius: unset;
}

.search-bar {
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  height: 40px;
  color: black;
  padding: 0px;
}

.fa-location-dot {
  align-self: center;
  font-size: small;
  margin-right: 10px;
  padding-bottom: 6px;
}

.search-bar input {
  width: 150px;
  font-weight: bold;
  font-size: large;
  background-color: var(--grey);
  border: unset;
}

.Booking {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  background-color: var(--light-grey);
  padding-bottom: 30px;
}
.Booking .Booking__p {
  margin: 0 30px 0 30px;
  /*font-family: serif,roboto;*/
  font-size: 18px;
  font-weight: 400;

}

.Booking h1{
  font-size: 40px;
}
.Booking a{
  padding-top: 5px;
}

.Booking img:hover {
  transform:scale(1.01);
  /* une blancheur sur le boutton quand ont passe dessus*/
  opacity:0.8;
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  background-color: var(--white);
  
}
.Fonctionnement .texte {
  display: flex;
  flex-direction: row;
  gap: 10px;
 /* font-family: paragraph,roboto;*/
  font-weight: 100;
}
.Fonctionnement .icons {
  width:20px;
  height:20px;
  border-radius: unset;
}
.Fonctionnement .icons:hover {
  color: #9356DC;

}

.Fonctionnement ul {
  padding-left: 0px;
  margin: 0px;
  gap: 50px;
}
@media (min-width: 768px) {
  .Fonctionnement ul .Fonctionnement ul {
   flex-direction: row;
  }
}

.Fonctionnement li {
  display: flex;
  padding-top: 25px;
  gap: 30px;
  border: 2px solid var(--light-grey);
  /*border-radius: 40px;*/
  border-radius: 20px;
  /*height: 35px;*/
  height: 45px;
  transition: 0.3s;
  /*width:100%;*/
  width: 335px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
  background-color: var(--light-grey);
}
@media (min-width: 420px) {
  .Fonctionnement li {
    width: 535px;
  }
}

/*.Fonctionnement li:hover .icons {
  color: #9356DC;
}*/

main ul {
  display: flex;
  flex-direction: Column;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  padding-bottom: 30px;
}
main ul main li {
  /*border-radius: 20px;*/
  background-color: var(--white);
}
@media (min-width: 992px) {
  main ul {
    flex-direction: row;
    margin: 0px;
  }
}


.restaurants {
  padding: 20px;
}

.restaurants {
  display: flex;
  position:relative;
  flex-direction: column;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}
@media (min-width: 992px) {
  .restaurants {
    padding: 50px 120px;
  }
}

@media (min-width: 992px) {
  .restaurants ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: unset;
  }
  .restaurants li {
    width: 45%;
    margin: 0px; /* Adds spacing between the cards */
  }
}
.restaurants .cards {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  gap: 30px;
}

.restaurants figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 var(--black);
  transition: 0.3s;
  margin: 0;
  background-color: var(--white);
  color: black;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}

.restaurants img {
  width: 100%;
  height: 230px;
}

.nouveau h3,
.nouveau p {
  margin: 0;
}

.nouveau > p {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--light-green);
  border: unset;
  padding: 5px;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 1rem 0rem;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  footer h3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-right: 50px;
  }
}

footer ul {
  padding: 0;
  color: black;
  text-decoration: none;
  list-style-type: none;
}
@media (min-width: 992px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
  }
}

footer li > a {
  display: flex;
  gap: 10px;
  color: black;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  color: var(--white);
  font-weight: lighter;
}

@media (min-width: 992px) {
  .Fonctionnement {
    padding: 50px 120px;
    margin: 0px;
  }
}
.fa-handshake-angle {
  font-size: small;
}
/* Grandir */
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
/* Disparaître */
@keyframes disappear {
  to {
    transform: scale(0);
  }
}

:root {
  --grey: #EDEDED;
  --light-grey: #F6F6F6;
  --darker-grey:#f5f5f5;
  --white: #fff;
  --light-purple: #f2eafb;
  --purple: #9356DC;
  --light-green: #99e2d0;
  --pink: #FF79DA;
  --light-black:#161010;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0;
}

.restaurants img {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
/* NUMERO 1,2,3 */
.numbers {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  color: var(--white);
  width: 1rem;
  height: 1rem;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  right: 6px;
  bottom: 5px;
}

figure {
  position: relative;
  border: 1px;
  border-radius: 20px;
  background: var(--white);
  width: 100%;
}

.nouveau {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-overflow: ellipsis;
}

footer {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: #373333;
  line-height: 1.5rem;
  padding-left: 20px;
}
@media (min-width: 992px) {
  footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
    gap: 50px;
  }
}

/*# sourceMappingURL=main.css.map */