/* LOADER*/
.loader {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 2s forwards;
}

  .loader .cercle {
      position: absolute;
      width: 150px;
      height: 150px;
      background: #EDEDED;
      border: 3px solid #FF79DA;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  }
/* PLACEMENT DE LA BALLE */
  .loader .balle {
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
      width: 50%;
      transform-origin: left;
      animation: rotate 1s linear infinite;
  }

  .loader .balle:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 70%;
      background: #9356DC;
     /* top: -6px;
      right: -6px;*/
 }

 .loader .p{
  text-align: center;
  font-size: 1rem;
  font-family: shrikhand, cursive;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 100%;
 } 


