//color définition
:root {
    --grey: #EDEDED;
    --black:#0000;
    --light-grey: #F6F6F6;
    --white: #fff;
    --light-purple: #f2eafb;
    --purple:  #9356DC;
    --light-green: #99e2d0;
    --pink: #FF79DA;
}