/* ANIMATION DU LOADER */
/* ARRET */
@keyframes loader {
  40% {
      opacity: 100%;
  }

  100% {
      opacity: 0%;
      pointer-events: none;
  }
}

/* ROTATION */
@keyframes rotate {
  0% {
      transform: rotate(45deg);
  }

  100% {
      transform: rotate(405deg);
  }
}


/* Keyframes cartes */
 
  @keyframes fade {
    0% {
        opacity: 0;
    }
  
    23.333% {
        opacity: 50%;
    }
  
    33.333% {
        opacity: 100%;
  
    }
  }